/* NAVBAR */
.mat-sidenav {
    width: 250px;
    background-color: white;
    border-right: 1px solid #c0b9b9;
    color: black;
    font-family: 'Archivo Black';
    font-size: 18px;
    padding-top: 0 !important;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.sidebar-logo {
    width: 100px;  /* ajuste aqui o tamanho desejado */
    height: auto;
    object-fit: contain;
}

i {
    padding-right: 10px;
}

/* CONTAINER PRINCIPAL */
.mat-sidenav-container {
    height: 100vh;
    min-height: 100vh;
}

/* CONTEÚDO */
.mat-sidenav-content {
    padding: 20px;
    height: 100%;
    overflow: auto;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 16px 0;
}
