.mat-sidenav {
    width: 100%;
    background-color: #eeeef3;
    border-right: solid #09090a;
    color: black;
    text-shadow: rgb(185, 161, 161) 0.1em 0.1em 0.2em;
    font-family: 'Archivo Black';
    font-size: 18px;
    z-index: 3;
    padding-top: 55px;
}

@media (min-width: 768px) {
    .mat-sidenav {
        width: 250px;
    }
}

i {
    padding-right: 10px;
}

.mat-sidenav-container {
    height: 89vh;

}

.mat-sidenav-content {
    padding: 50px;
    padding-top: 0px;

}

mat-toolbar {
    background-color: #eeeef3;
    text-shadow: rgb(185, 161, 161) 0.1em 0.1em 0.2em;
    border-bottom: solid #09090a;

    h1 {
        color: black;
        font-family: 'Archivo Black';
        font-size: 20px;
    }

    img {
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }
}


::placeholder {
    color: rgb(112, 111, 111);
    font-family: 'archivo black';
    font-size: 15px;
    padding-left: 10px;
}

mat-nav-list {
    :hover {
         padding-left: 10px;
    }
}

.logoName {
    color: white;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 16px 0;
}