.mat-sidenav {
    width: 100%;
    background-color: #eeeef3;
    border-right: solid #09090a;
    color: black;
    text-shadow: rgb(185, 161, 161) 0.1em 0.1em 0.2em;
    font-family: 'Archivo Black';
    font-size: 18px;
    z-index: 3;
}

@media (min-width: 768px) {
    .mat-sidenav {
        width: 250px;
    }
}

i {
    padding-right: 10px;
}

.mat-sidenav-container {
    height: 89vh;

}

.mat-sidenav-content {
    padding: 50px;
    padding-top: 0px;

}

mat-toolbar {
    background-color: #eeeef3;
    text-shadow: rgb(185, 161, 161) 0.1em 0.1em 0.2em;
    border-bottom: solid #09090a;

    h1 {
        color: black;
        font-family: 'Archivo Black';
        font-size: 20px;
    }

    img {
        width: 40px;
        height: 40px;
        padding-right: 10px;
    }
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 100%;
    max-width: 350px;
    min-width: 150px;
    padding: 6px 10px;
    border-radius: 6px;
    border: solid #eeeef3;
    background-color: #faf8f8;

    font-family: Arial, Helvetica, sans-serif;

}

::placeholder {
    color: rgb(112, 111, 111);
    font-family: 'archivo black';
    font-size: 15px;
    padding-left: 10px;
}

mat-nav-list {
    :hover {
        padding-left: 10px;
    }
}

.logoName {
    color: white;
}